*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'plain light';
    color: #fff;
}
html, body{
    width: 100%;
    height: 100%;
}
#cursor{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 2px solid #ffffffc6;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 10vw;
}
#line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight:100 ;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
#line h1{
    font-size:6vw;
    text-transform: uppercase;
    font-weight:900;
}
#line h2{
    font-size: 6vw;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family:"sans-serif" ;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
    }
    100%{
        font-family: "regular";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
    }
}
#main{  
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3vw;
}
#nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 500;
}
.hero{
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 18vh; 
}
.hero h1 , .hero h2, .hero h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
}